.contact {
  background-color: var(--background-blue);
  padding: 2rem;
  width: 100%;
}

.contact__container {
  display: flex;
  justify-content: center;
  padding: 2rem;
  margin: 0 auto;
  width: 80%;
}

.contact__image {
  margin-right: 1rem;
  width: 360px;
}

.contact__div__title {
  color: var(--color-title);
  font-weight: 700;
  font-size: 2rem;
}

.contact__div__text {
  color: var(--color-paragraph);
  font-weight: 500;
  font-size: 1rem;
  font-style: normal;
}

.contact__div__input,
.contact__div__textarea {
  background: var(--background-white);
  border-radius: 4px;
  padding: 1rem;
  border: none;
  font-family: "Raleway";
  font-weight: 400;
  font-size: 1rem;
  filter: drop-shadow(0px 1px 1px rgba(0, 0, 0, 0.25));
  margin-top: 2rem;
  outline-color: var(--background-blue);
  width: 100%;
}

.contact__div__span {
  display: none;
  color: #ff0000;
  font-size: 1rem;
  margin-top: 0.5rem;
}

.contact__div__btn {
  color: var(--color-text-white);
  border: none;
  background: var(--background-buttom-blue);
  cursor: pointer;
  font-weight: 400;
  font-size: 1rem;
  margin-top: 1rem;
  padding: 1rem;
}

.contact__div__btn:hover {
  background: var(--color-hover-blue);
}

@media screen and (max-width: 1023px) {
  .contact__image {
    display: none;
  }

  .contact__div__title {
    text-align: center;
    padding-bottom: 1rem;
  }

  .contact__div__btn {
    width: 100%;
  }
}

@media screen and (max-width: 767px) {
  .contact__container {
    padding: 0;
  }
}
